.category {
  position: relative;
  margin-bottom: 50px;

  .btn-fold {
    position: absolute;
    left: 50%;
    bottom: -24px;
    transform: translateX(-50%);
    width: 40px;
    height: 24px;
    line-height: 22px;
    background: #f7fafe;
    border-radius: 0 0 8px 8px;
  }

  &-box {
    padding: 40px 0;
    background: #f7fafe;

    &-inner {
      margin: 0 auto;
      max-width: 1200px;

      .list {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 140px;

        .btn-add {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 4px 8px;
          border: 1px dashed var(--primary-color);
          border-radius: 4px;
          color: var(--primary-color);
          transition: all ease .2s;

          &:hover {
            background: darken(#f7fafe, 3%);
          }
        }

        &-item {
          padding: 4px 8px;
          min-width: 140px;
          transition: all ease .2s;

          &:hover {
            color: darken(#4876ef, 10%);
          }
        }
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-box {
    & > dt {
      margin-bottom: 10px;
    }

    & > dd {
      input {
        padding: 0 20px;
        width: 100%;
        height: 40px;
        line-height: 38px;
        border: 1px solid #d7d7d7;
        border-radius: 4px;
      }
    }
  }
}