header {
  height: 80px;

  .header-inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;

    .logo {
      display: inline-block;
      margin-right: 40px;
      width: 120px;
      height: 30px;
      background: url('@/assets/images/logo.png') no-repeat center/auto 100%;
    }

    .btn-mypage {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      width: 40px;
      height: 40px;
      border: 1px solid #d7d7d7;
      border-radius: 4px;
      transition: all ease .2;

      &:hover {
        background: darken(#FFF, 3%);
      }
    }
  }
}

@include respond-to(phone) {
  header {
    padding: 0 20px;
    height: 50px;

    .header-inner {
      .logo {
        @include size(78px, 20px);
      }

      .search {
        display: none;
      }

      .btn-mypage {
        @include size(34px);

        & > i {
          font-size: 16px;
        }
      }
    }
  }
}