header {
  height: 80px;
  background: #FFF;

  .header-inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;

    .back-btn {
      display: none;
      @include size(34px);
      font-size: 24px;
    }

    .logo {
      display: inline-block;
      margin-right: 40px;
      width: 120px;
      height: 30px;
      background: url('@/assets/images/default/logo.png') no-repeat center/auto 100%;
    }

    .btn-wrap {
      display: flex;
      gap: 10px;
      margin-left: auto;

      [class^=btn] {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        width: 40px;
        height: 40px;
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        transition: all ease .2;

        &:hover {
          background: darken(#FFF, 3%);
        }
      }

      .btn-menu {
        display: none;
      }
    }
  }
}

@include respond-to(phone) {
  header {
    padding: 0 16px;
    height: 50px;

    .header-inner {
      .back-btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
      }

      .logo {
        margin: 0 auto;
        @include size(78px, 20px);
      }

      .search {
        display: none;
      }

      .btn-wrap {
        flex-grow: 1;

        [class^=btn] {
          @include size(34px);

          & > i {
            font-size: 16px;
          }
        }

        .btn-menu {
          display: block;
        }

        .btn-mypage {
          display: none;
        }
      }
    }
  }
}