.btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 14px;

  & > .title {
    display: none;
  }

  .btn-edit {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: var(--colorMain);

    &:hover {
      color: var(--colorMainDark);
    }

    &::before {
      content: '\e962';
      font-family: 'iconFont';
    }
  }
}

.drag-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  .item {
    padding: 28px 28px 36px 32px;
    border: 1px solid #d7d7d7;
    border-radius: 12px;
    box-sizing: border-box;
    background: #FFF;

    & > .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      .txt {
        font-size: 18px;
        font-weight: bold;
      }

      & > i {
        cursor: grab;
      }
    }

    .list {
      &-item {
        margin-top: 20px;

        & > a {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:hover {
            .title {
              text-decoration: underline;
              text-underline-offset: 0.08em;
            }
          }

          .comment-count {
            display: flex;
            align-items: center;
            gap: 2px;
            font-size: 14px;

            &:before {
              content: '\e9a1';
              font-family: 'iconFont';
            }
          }
        }
      }
    }
  }
}

@include respond-to(phone) {
  .btn-wrap {
    justify-content: space-between;
    margin: 0 16px 10px;

    & > .title {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .drag-area {
    grid-template-columns: 1fr;
    gap: 4px;

    .item {
      margin: 0 16px;
      padding: 14px 20px;
      border-radius: 16px;
      background: #FAF9FE;
      border: 0;

      & > .title {
        margin-bottom: 10px;

        .txt {
          font-size: 16px;
        }
      }

      .list {
        &-item {
          margin-top: 14px;

          & > a {
            .title {
              font-size: 14px;
            }

            .comment-count {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}