.list {
  padding: 30px;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  background: #FFF;

  & > .title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 14px;
    background: #FFF;

    &:not(:first-child) {
      margin-top: 10px;
    }

    .num {
      font-size: 30px;
      font-weight: bold;
    }

    .info {
      flex: 1;

      .title {
        display: flex;
        align-items: center;

        .txt {
          margin-right: 8px;

          &:hover {
            text-decoration: underline;
            text-underline-offset: 0.12em;
          }
        }
      }

      .detail {
        display: flex;
        align-items: center;

        .board-name {
          font-size: 14px;
        }

        .count {
          margin-left: auto;

          &-comment {
            margin-left: 10px;
            font-size: 14px;

            &:before {
              margin-right: 4px;
              content: "\e9a1";
              font-family: 'iconFont';
            }
          }

          &-like {
            margin-left: 10px;
            font-size: 14px;

            &:before {
              margin-right: 4px;
              content: "\e906";
              font-family: 'iconFont';
            }
          }

          &-view {
            margin-left: 4px;
            font-size: 14px;

            &:before {
              margin-right: 4px;
              content: "\e966";
              font-family: 'iconFont';
            }
          }
        }
      }
    }
  }
}

@include respond-to(phone) {
  .list {
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;

    & > .title {
      margin: 0 16px 10px;
      font-size: 16px;
    }

    &-item {
      margin: 0 16px;
      padding: 14px 20px;
      border-radius: 16px;
      background: #FAF9FE;

      &:not(:first-child) {
        margin-top: 6px;
      }

      .num {
        display: none;
      }

      .info {
        width: 100%;

        .title {
          .txt {
            font-size: 14px;
            font-weight: bold;
          }
        }

        .detail {
          justify-content: space-between;

          .board-name {
            font-size: 12px;
          }
          
          .count {
            &-comment,
            &-like,
            &-view {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}