// 페이드 인/아웃 애니메이션
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// 확대/축소 애니메이션
.scale-up-enter-active,
.scale-up-leave-active {
  transition: transform 0.3s, opacity 0.3s;
}

.scale-up-enter-from {
  opacity: 0;
  transform: scale(0.9);
}

.scale-up-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

// 회전 인/아웃 애니메이션
.rotate-enter-active,
.rotate-leave-active {
  transition: transform 0.3s;
}

.rotate-enter-from {
  transform: rotate(-45deg);
}

.rotate-leave-to {
  transform: rotate(45deg);
}

// 슬라이드 업/다운 애니메이션
.slide-enter-active {
  transition: max-height 0.3s ease-in;
}

.slide-leave-active {
  transition: max-height 0.1s cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave-from {
  max-height: 1000px;
  overflow: hidden;
}

.slide-enter-from,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

// 바운스 인/아웃 애니메이션
.bounce-enter-active,
.bounce-leave-active {
  transition: transform 0.5s;
}

.bounce-enter-from {
  transform: scale(0.5);
}

.bounce-leave-to {
  transform: scale(0.5);
}

// 좌우슬라이드
.slide-left-enter-from, .slide-left-leave-to {
  transform: translateX(100%);
}

.slide-left-enter-to, .slide-left-leave-from {
  transform: translateX(0);
}

.slide-left-enter-active {
  transition: transform 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-left-leave-active {
  transition: transform 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}