.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #FFF;

  .content {
    flex: 1;
  }

  header {
    height: 80px;

    .header-inner {
      display: flex;
      align-items: center;
      margin: 0 auto;
      max-width: 1200px;
      height: 100%;

      .logo {
        display: inline-block;
        margin-right: 40px;
        width: 120px;
        height: 30px;
        background: url('@/assets/images/logo.png') no-repeat center/auto 100%;
      }

      .btn-logout {
        margin-left: auto;
      }
    }
  }

  footer {
    flex-shrink: 0;
  }
}