.list {
  &-item {
    padding: 38px 32px;
    background: #FFF;
    border-top: 1px solid #e8e8e8;

    &:hover {
      .title {
        text-decoration: underline;
        text-underline-offset: 0.12em;
      }
    }

    &:last-child {
      border-bottom: 1px solid #e8e8e8;
    }

    .board-name {
      margin-bottom: 8px;
      font-size: 14px;
      color: #999;
    }

    .title {
      font-size: 18px;
      font-weight: bold;
      transition: all ease .2s;
    }

    .content {
      margin-top: 8px;
      color: #999;
    }

    .bottom-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;

      .count {
        display: flex;
        gap: 10px;

        &-comment {
          font-size: 14px;

          &:before {
            margin-right: 4px;
            content: "\e9a1";
            font-family: 'iconFont';
          }
        }

        &-view {
          font-size: 14px;
          
          &:before {
            margin-right: 4px;
            content: "\e966";
            font-family: 'iconFont';
          }
        }

        &-like {
          font-size: 14px;
          
          &:before {
            margin-right: 4px;
            content: "\e906";
            font-family: 'iconFont';
          }
        }
      }

      .user-info {
        display: flex;
        align-items: center;

        .user-profile {
          margin-right: 10px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;

          &-default {
            position: relative;
            width: 100%;
            height: 100%;
            background: #f8f8f8;

            &:before {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              content: "\ea07";
              font-family: 'iconFont';
              color: #dcdcdc;
              font-size: 18px;
            }
          }
        }

        .user-name {
          margin-right: 8px;
          font-size: 14px;
        }

        .date {
          font-size: 14px;
        }
      }
    }
  }
}

@include respond-to(phone) {
  .list {
    display: grid;
    gap: 4px;

    &-item {
      margin: 0 16px;
      padding: 14px 20px;
      border-radius: 16px;
      background: #FAF9FE;

      .title {
        font-size: 14px;
      }

      .content {
        font-size: 14px;
      }

      .bottom-area {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 14px;

        .count {
          width: 100%;
          justify-content: flex-end;
          gap: 8px;

          &-comment {
            font-size: 12px;
          }

          &-view {
            font-size: 12px;
          }

          &-like {
            font-size: 12px;
          }
        }

        .user-info {
          width: 100%;

          .user-profile {
            @include size(34px);

            &-default {
              &:before {
                font-size: 16px;
              }
            }
          }

          .user-name {
            font-size: 12px;
          }

          .date {
            margin-left: auto;
            font-size: 12px;
          }
        }
      }
    }
  }
}