section {
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-item {
      &.is-error {
        .form-label {
          .form-txt {
            color: #ff5b45;
          }

          .form-border {
            border-color: #ff5b45;
          }
        }
      }

      .form-label {
        display: flex;
        position: relative;
        -webkit-box-align: center;
        align-items: center;
        padding: 0 16px;
        box-sizing: border-box;
        z-index: 0;
        height: 44px;
        font-size: 14px;
        font-weight: 400;
        width: 100%;

        .form-input {
          color: #363636;
          outline: none;
          border: 0;
          padding: 0;
          flex: 1 1 0;
          font-size: inherit;
          font-weight: inherit;

          &:focus {
            & + .form-txt {
              color: var(--colorMain);
            }

            & ~ .form-border {
              border-color: var(--colorMain);
            }
          }

          &:disabled {
            & ~ .form-border {
              background: #efefef4d;
            }
          }
        }

        .form-txt {
          font-size: 12px;
          background-color: #FFF;
          position: absolute;
          padding: 0 4px;
          left: 12px;
          top: 0;
          transform: translateY(-50%);
          transition: color 0.2s linear;
          color: #848484;
        }

        .form-border {
          position: absolute;
          display: block;
          inset: 0;
          z-index: -1;
          border: 1px solid #d0d0d0;
          border-radius: 8px;
          background-color: transparent;
          transition: border-color 0.2s linear;
        }

        .btn-show-password {
          margin-left: 16px;

          & > i {
            font-size: 16px;
            cursor: pointer;
            color: #848484;

            &.icon-eye {
              color: var(--colorMain);
            }
          }
        }
      }
    }

    &-info {
      margin-top: 4px;
      display: flex;

      & > span {
        display: block;
        padding: 0;
        margin: 0;
        font-weight: 400;
        color: #ff5b45;
        font-size: 12px;
      }
    }

    &-alert {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      margin-bottom: 24px;
      padding: 16px 16px 16px 24px;
      border-radius: 8px;
      color: #363636;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      background-color: #f5f6f7;
      width: 100%;
      box-sizing: border-box;

      & > i {
        margin-right: 16px;
        font-size: 24px;
        color: #93A0B0;
      }
    }
  }

  .btn-wrap {
    margin-top: 40px;
  }
}

@include respond-to(phone) {
  section {
    .form {
      padding: 0 16px;
    }

    .btn-wrap {
      margin: 30px 16px 0;
    }
  }
}