.nodata {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 300px;
  border: 1px solid #e8e8e8;
  border-radius: 12px;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    & > i {
      font-size: 50px;
      color: #e8e8e8;
    }

    .txt {
      font-size: 18px;
      color: #999;
    }
  }
}

@include respond-to(phone) {
  .nodata {
    margin: 0 16px;
    border-radius: 8px;

    &-inner {
      & > i {
        font-size: 30px;
      }

      .txt {
        font-size: 14px;
      }
    }
  }
}