.detail {
  &-inner {
    margin: 0 auto;
    max-width: 1200px;

    .grid-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      .title {
        display: flex;
        align-items: flex-end;

        .txt {
          font-size: 34px;
          font-weight: bold;
        }

        .count {
          margin-left: 10px;
          font-size: 24px;
          color: #333;

          .point-color {
            color: var(--colorMain);
          }
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      margin-top: 20px;

      .page {
        width: 40px;
        height: 40px;
        line-height: 38px;
        text-align: center;

        &.is-active {
          color: var(--colorMain);
        }
      }

      .btn-prev,
      .btn-next {
        width: 40px;
        height: 40px;
        line-height: 38px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #d7d7d7;
      }
    }

    .btn-wrap {
      margin-top: 40px;
    }
  }
}