.main {
  display: flex;
  gap: 40px;
  margin: 40px auto 0;
  max-width: 1200px;

  &-left {
    flex: 1;

    &-item {
      &:not(:first-child) {
        margin-top: 50px;
      }
    }
  }

  &-right {
    width: 360px;

    &-item {
      &:not(:first-child) {
        margin-top: 50px;
      }
    }
  }
}

@include respond-to(phone) {
  .main {
    gap: 4px;
    margin: 0 auto;
    flex-direction: column-reverse;

    &-left {
      &-item {
        padding: 20px 0;
        background: #FFF;
      }
    }

    &-right {
      width: 100%;

      &-item {
        padding: 20px 0;
        background: #FFF;

        &:not(:first-child) {
          margin-top: 4px;
        }
      }
    }
  }
}