section {
  margin: 0 auto;
  max-width: 1200px;

  .widget {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    &-item {
      padding: 20px 30px;;
      background: #FFF;
      border-radius: 12px;

      & > .title {
        display: flex;
        justify-content: space-between;

        .txt {
          font-size: 20px;
          font-weight: bold;
        }
        
        .btn-more {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          border: 1px solid var(--colorBorder3);
          border-radius: 5px;
          color: var(--colorText3);
          transition: all ease .2s;

          &:hover {
            i {
              transform: rotate(180deg);
            }
          }

          & > i {
            transition: all ease .2s;
          }
        }
      }

      & > .content {
        overflow: hidden;
        overflow-y: scroll;
        margin: 0 -20px;
        padding: 0 20px;
        max-height: 280px;

        &::-webkit-scrollbar {
          width: 8px;
          cursor: pointer;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--colorBg2);
          border-radius: 3px;
        }

        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-track-piece {
          background-color: #eee;
          border-radius: 3px;
        }
      }
    }
  }
}

@include respond-to(phone) {
  section {
    padding: 0 16px;
    background: #FFF;

    .widget {
      grid-template-columns: 1fr;

      &-item {
        padding: 0;
        background: transparent;

        & > .title {
          margin-bottom: 14px;

          .txt {
            font-size: 16px;
          }
        }

        & > .content {
          padding: 0;
        }
      }
    }
  }
}