.write {
  margin: 0 auto;
  max-width: 1200px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-box {
      & > dt {
        margin-bottom: 10px;
      }

      & > dd {
        input {
          padding: 0 20px;
          width: 100%;
          height: 40px;
          line-height: 38px;
          border: 1px solid #d7d7d7;
          border-radius: 4px;
        }
      }
    }
  }

  .btn-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 40px;
  }
}

@include respond-to(phone) {
  .write {
    .form {
      gap: 10px;
      padding: 0 16px;

      &-box {
        & > dt {
          margin-bottom: 8px;
          font-size: 14px;
        }

        & > dd {
          font-size: 14px;

          input {
            padding: 0 10px;
            height: 34px;
            line-height: 32px;
            font-size: 14px;
          }
        }
      }
    }

    .btn-wrap {
      padding: 0 16px;

      [class^=btn] {
        flex: 1;
        margin: 0;
      }
    }
  }
}